.footer {
  flex-shrink: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  align-self: flex-end;
  padding-bottom: 20px;
  padding-top: 30px;
}

.youtube {
  background-color: red;
}

.facebook {
  background-color: #3b5998;
}

.twitter {
  background-color: #55acee;
}

.instagram {
  background-color: #49769c;
}